<!doctype html>
<!--jinja2 is the templating language for Python that flask uses-->

<title>Hello from my Mailgun App</title>
{% if name %}
	<h1>Hello {{ name }}!</h1>
{% else %}
	<h1>Hello World!</h1>
{% endif %}

<!--form submits to url /signup, relevant to the absolute url /-->
<div id="contact-form">
	<h1>Get in Touch!</h1>
	<form method="post" action="/signup">
		<label for="name">Name: </label>
		<input type="text" id="name" name="name" value="" placeholder="Mimi Mouse" required="required" autofocus="autofocus" />
		<label for="email">Email Address: </label>
		<input type="email" id="email" name="email" value="" placeholder="mimi@mouse.com" required="required" />
		<input type="submit" value="Submit" id="submit-button" />
	</form>
</div>
